# Зависимости npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Переменные окружения
.env

# Файлы IDE и редакторов
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Директория сборки 
dist/
build/

# База данных 
database/*.db
